{{ partial "header.html" . }}

<div class="content">
  <div class="container">

          <article class="post">
            <header class="post-header">
            {{ partial "breadcrumbs.html" . }}
            <h1>{{ i18n "getting_started" }}</h1>
            </header>
            <h2>{{ i18n "lesson" }} {{ .Title }}</h2>
            
            {{ .Content }}
          
            {{ if ne .PrevInSection nil }}<br /><p>{{ with .PrevInSection }}<a href="{{ .RelPermalink }}" class="btn">{{ i18n "next" }}: {{ .Title }}</a>{{ end }}</p>{{ end }}

            <br>
            <h3>{{ i18n "lessons" }}</h3>
            <ul style="margin-left: 0">
            {{ range (where .Site.RegularPages "Section" .Section ) }}
                <li style="list-style: none;"><a href="{{ .RelPermalink }}" style="{{ if eq .RelPermalink $.RelPermalink }}color: silver;{{ end }}">{{ .Title }}</a></li>
            {{ end }}
            </ul>
          </article>

    </div>
</div>

{{ partial "footer.html" . }}
