{{ partial "header.html" . }}

<div class="content">
  <div class="container">

          <article class="post">
            <header class="post-header">
            {{ partial "breadcrumbs.html" . }}
            <h1>{{ .Title }}</h1>
            </header>
            
            {{ .Content }}

            {{ with .Resources.GetMatch "header" }}
              <img src="{{ (.Resize "100x").RelPermalink }}" />
            {{ end }}

            {{ if eq .RelPermalink "/search/" }}<div class="row">
              <div class="col-xs-8">{{ partial "search-google.html" . }}</div>
            </div>{{ end }}
          
          </article>

    </div>
</div>

{{ partial "footer.html" . }}
