{{ partial "header.html" . }}

<div class="content">
  <div class="container">

          <article class="post">
            <header class="post-header">
            {{ partial "breadcrumbs.html" . }}
            <h1>{{ .Title }}</h1>
            </header>
            
            {{ .Content }}

            {{ if or (eq .RelPermalink "/search/") (eq .RelPermalink "/es/search/") }}<div class="row">
              <div class="col-xs-8">{{ partial "search-google.html" . }}</div>
            </div>{{ end }}
          
          </article>

    </div>
</div>

{{ partial "footer.html" . }}
 