{{ partial "header.html" . }}

<div class="content">
    <div class="container">

            <article class="post">
                <header class="post-header">
                    {{ partial "breadcrumbs.html" . }}
                    <h1>{{ .Title }}</h1>
                </header>
                
                {{ .Content }}

                <br>
                <br>

                {{ partial "nested-menu.html" . }}


                <br>
                <p>This is a <a href="/add-ons/nested-menu/">nested menu</a> demo.</p>
            </article>

    </div>
</div>

{{ partial "footer.html" . }}
