{{ partial "header.html" . }}

<div class="content">
  <div class="container">

          <article class="post">
            <header class="post-header">
            {{ partial "breadcrumbs.html" . }}
            <h1>{{ .Title }}</h1>
            </header>
            
            {{ .Content }}


            <br>
            <br>
            
            {{ $.Scratch.Set "activeitems" .File.BaseFileName }}
            {{ if .Params.parent_branch }}
                {{ $.Scratch.Add "activeitems" (print " " .Params.parent_branch) }}
                {{ with .Site.GetPage (print "/branches/" .Params.parent_branch) }}
                    {{ if .Params.parent_branch }}
                        {{ $.Scratch.Add "activeitems" (print " " .Params.parent_branch) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $activeitems := split ($.Scratch.Get "activeitems") " " }}

            {{ with .Site.GetPage "/branches" }}
                
                {{ $regularpages := .RegularPages.ByTitle }}

                {{ $.Scratch.Set "haschildren" "" }}
                {{ range where $regularpages "Params.parent_branch" "!=" nil }}
                    {{ if in ($.Scratch.Get "haschildren") .Params.parent_branch }}{{ else }}
                        {{ $.Scratch.Add "haschildren" (print " " .Params.parent_branch) }}
                    {{ end }}
                {{ end }}
                {{ $haschildren := split ($.Scratch.Get "haschildren") " " }}

                <ul class="nestedmenu">
                {{ range where $regularpages "Params.parent_branch" nil }}
                    <li class="{{ if in $activeitems .File.BaseFileName }}active{{ end }} {{ if in $haschildren .File.BaseFileName }}haschildren{{ end }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <ul>
                        {{ range where $regularpages "Params.parent_branch" .File.BaseFileName }}
                            <li class="{{ if in $activeitems .File.BaseFileName }}active{{ end }} {{ if in $haschildren .File.BaseFileName }}haschildren{{ end }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                <ul>
                                    {{ range where $regularpages "Params.parent_branch" .File.BaseFileName }}
                                        <li class="{{ if in $activeitems .File.BaseFileName }}active{{ end }} {{ if in $haschildren .File.BaseFileName }}haschildren{{ end }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                </ul>
                            </li>
                        {{ end }}
                        </ul>
                    </li>
                {{ end }}
                </ul>

            {{ end }}
        
          </article>

    </div>
</div>

{{ partial "footer.html" . }}
 