{{ partial "header.html" . }}

<div class="content">
  <div class="container">

        <article class="post">
            <header class="post-header">
                {{ partial "breadcrumbs.html" . }}
                <h1>{{ .Title }}</h1>
            </header>
            
            {{ .Content }} 
            
            <br>

            {{ range (where .Site.RegularPages "Section" .Section).ByDate.Reverse }}
              {{ .Date.Format "2006/01/02" }} - <a href="{{ .Permalink }}">{{ .Title }}</a><br>
            {{ end }}

        </article>

  </div>
</div>
    
{{ partial "footer.html" . }}
