{{ partial "header.html" . }}

<div class="content">
  <div class="container">

          <article class="post">
            <header class="post-header">
              {{ partial "breadcrumbs.html" . }}
              <h1>{{ .Title }}</h1>
              <h3 class="post-meta">{{ .Date.Format "Jan 02, 2006" }}</h3>
            </header>

            <br /><br />

            {{ .Content }}
            <i>Joost van der Schee</i><br />
            <br />
            {{ partial "share-buttons.html" . }}
          
          </article>

  </div>
</div>

{{ partial "footer.html" . }}
