<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ if ne .Layout "home" }}
      <meta name="description" content="{{ .Summary }}">
    {{ else }}
      <meta name="description" content="{{ $.Site.Params.description }}">
    {{ end }}
    
    <link rel="shortcut icon" type="image/png" href="/img/icon-192x192.png">
    <link rel="shortcut icon" sizes="196x196" href="/img/icon-192x192.png">
    <link rel="apple-touch-icon" href="/img/icon-192x192.png">
    
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="/css/style.css?version={{now}}">
  </head>
  <body class="{{.Type}} {{.Layout}}">
    <div class="main">
      {{ partial "navigation.html" . }}