{{ partial "header.html" . }}

<div class="content">
    <div class="container">

            <article class="post">
                <header class="post-header">
                    {{ partial "breadcrumbs.html" . }}
                    <h1>{{ .Title }}</h1>
                    <p class="translation-key" style="color: silver;">{{ .TranslationKey }}</p>
                </header>
                
                {{ .Content }}

                <br>
                <ul class="columns">
                {{ range (where .Site.RegularPages "Section" .Section ).ByTitle }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
                </ul>

            </article>

    </div>
</div>

{{ partial "footer.html" . }}
