{{ partial "header.html" . }}
<div class="content">
    <div class="container">

            <article class="post">
                <header class="post-header">
                    {{ partial "breadcrumbs.html" . }}
                    <h1>{{ .Title }}</h1>
                </header>
                
                {{ .Content }}

                <br>

                <ul class="columns">
		    
                {{  range (where .Site.RegularPages "Section" .Section ).ByTitle }}
                    <li>
			<a href="{{ .RelPermalink}}" class="productimage" style="background-image: url({{ .Params.image }});"><span class="overlay"></span></a>
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			<h3>{{/* .Params.image.price */}}</h3>
		    </li>
                {{ end }}
                </ul>

            </article>

    </div>
</div>

{{ partial "footer.html" . }}
