{{ partial "header.html" . }}
<div class="content">
    <div class="container">

            <article class="post">
                <header class="post-header">
                    {{ partial "breadcrumbs.html" . }}
                    <h1>{{ .Title }}</h1>
                </header>
                
                {{ .Content }}

                <br>

                <ul class="columns">
		    
                {{  range (where .Site.RegularPages "Section" .Section ).ByTitle }}
                    <li>
			<a href="{{ .RelPermalink}}">
			    <div class="productimage" style="background-image: url({{ .Params.image }});"><span class="overlay"></span></div>
			</a>    
			<a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
			<span>€ {{ (index .Params.variants 0).price }}</span>
		    </li>
                {{ end }}
                </ul>

            </article>

    </div>
</div>

{{ partial "footer.html" . }}
