{{ partial "header.html" . }}
<div class="content">
    <div class="container">

        <article>
            <header class="post-header">
                {{ partial "breadcrumbs.html" . }}
                <h1 class="post-title">{{ .Title }}</h1>
            </header>
            <div class="post-content">

                {{ .Content }}

                <br />

                <ul id="productlist">

                    {{ range .RegularPages }}
                        <li>
                            <a data-base-url='{{ .RelPermalink }}' href="{{ .RelPermalink }}">
                                <div class="productimage" style="background-image: url({{ .Params.image }});"><span
                                        class="overlay"></span></div>
                            </a>
                            <a data-base-url='{{ .RelPermalink }}' href="{{ .RelPermalink }}">
                                <h2>{{ .Title }}</h2>
                            </a>
                            <span>€ {{ (index .Params.variants 0).price | lang.FormatNumber 2 }}</span>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </article>
    </div>
</div>

<script>
    const
        radios = document.querySelectorAll('.post-content > input'),
        listItemAnchors = document.querySelectorAll('#productlist > li > a');
        
    radios.forEach(radio => radio.addEventListener("change", () => change(radio)));
    change([...radios].find(d => d.checked));
    function change(radio) {
        listItemAnchors.forEach(a => a.setAttribute('href', radio.id.includes("simple") ? a.dataset.baseUrl + "simple/" : a.dataset.baseUrl));
    }
</script>

{{ partial "footer.html" . }}