{{ partial "header.html" . }}

<div class="content">
    <div class="container">

        <article>
            <div class="post-header">
		{{ partial "breadcrumbs.html" . }}
		<br />
	    </div>
	    
	    <div class="productpage">
		{{ partial "productimages.html" . }}

		<div class="text">
		    <h1>{{ .Title }}</h1>
		    
		    {{ if( gt (index  .Params.variants  0  ).price  0  ) }} 
		    <h2>&euro; <span class="productprice"> {{ (index .Params.variants 0).price | lang.FormatNumber 2 }}</span></h2>
		    {{ else }}{{ partial "share-buttons.html" . }}{{ end }}

		    <form action="{{ with .Site.GetPage `cart.md` }}{{ .RelPermalink }}{{ end }}" onsubmit="return addToCart(this)">

			{{ if (index .Params.variants 1).name }}
		
			<div>
			    <label for="variant">Choose a {{ .Params.variants_type }}:</label>
			    <select onchange="updateBuyButton(this)" id="variant" name="variant">
				{{ range $variants :=.Params.variants }}<option data-sku="{{ $variants.sku }}" data-variantname="{{ $variants.name }}" data-price="{{ $variants.price }}">{{ $variants.name }}</option>{{ end }}
			    </select>
			</div>
			{{ end }}
			{{ if gt (index .Params.variants  0).price 0 }}
			<div>
			    <input type="submit" data-url="{{ .RelPermalink }}" data-sku="{{ (index .Params.variants 0).sku }}" data-title="{{ .Title }}" data-varianttype="{{ .Params.variant_type }}" data-variantname="{{ (index .Params.variants 0).name }}" data-price="{{ (index .Params.variants 0).price }}" data-image="{{ .Params.image }}" value="{{ i18n "Add to cart" }}"/>
			</div>
			{{ end }}

		    </form>
		    {{ .Content }}
		</div>
	    </div>

   	</article>

    </div>
</div>

{{ partial "footer.html" . }}
